@font-face {
  font-family: "SourceSerif";
  src: url("../../fonts/SourceSerif4_36pt-ExtraBold.ttf") format("woff");
}

.app {
  background-color: #603b28;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

.modal__content {
  position: relative;
  background-color: white;
  max-width: 498px;
  width: 100%;
  border-radius: 16px;
}

.modal__button_disabled {
  cursor: default;
  background-color: #e5e5e5;
}


