@font-face {
  font-family: "SourceSerif";
  src: url("../../fonts/SourceSerif4_36pt-ExtraBold.ttf") format("woff");
}

.app {
  background-color: #603b28;
  height: 100%;
  max-width: 80%;
  margin: 0 auto;
}

