.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__text {
  font-family: "SourceSerif";
  font-size: 26px;
  color: #62a50a;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
}

.footer__copyright {
  font-family: "SourceSerif";
  font-size: 22px;
  color: #fff;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000;
}

@media screen and (max-width: 460px) {
  .footer__copyright {
    font-size: 14px;
    text-align: center;
  }

  .footer__text {
    font-size: 14px;
    text-align: center;
  }
}
